.bg-about {
  background-image: url(./images/about-img.jpg);
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.about-sect {
  display: grid;
  /* align-items: center; */
  text-align: center;
}
  
  p {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
}
